﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This practice is meant to challenge your mastery of ASP.NET Web Application (Model - View - Controller) and how well
        you are able to use MVC to create a CRUD application. Your goal in this practice is to create a tool that will help you
        keep track of all the books that are checked out of a library.
    </p>
</div>
