﻿
@{
    ViewData["Title"] = "Create";
}

@if (ViewBag.Success != null)
{
    <p class="success">
        @(ViewBag.Success)
    </p>
}

@if (ViewBag.Error != null)
{
    <p class="error">
        @(ViewBag.Error)
    </p>
}

<h1>Create</h1>
<form method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="" />

    <label for="authorId">Author:</label>
    <select name="authorId">
        @foreach(Author author in ViewBag.Authors)
        {
            <option value="@(author.ID)">@(author.Name)</option>
        }
    </select>

    <label for="publicationDate">Publication Date:</label>
    <input type="date" id="publicationDate" name="publicationDate" />

    <input type="submit" name="submit" value="Submit" />
</form>
