@{
    ViewData["Title"] = "Details";
}

<h1>List of Books</h1>
@if (ViewBag.Book != null)
{
    
    <h1>@(ViewBag.Book.Title)</h1>
    <p>Author: @(ViewBag.Book.Author.Name)</p>
    <p>Publication Date: @(ViewBag.Book.PublicationDate)</p>

    @if (ViewBag.Borrow != null)
    {
        <p>Checked Out Date: @((DateTime)ViewBag.Borrow.CheckedOutDate)</p>
        <p>Due Date: @((DateTime)ViewBag.Borrow.DueDate)</p>

        <p>Returned Date: @(ViewBag.Borrow.ReturnedDate == null ? "Not Returned" : ((DateTime)ViewBag.Borrow.ReturnedDate).ToString())</p>
    }


<form method="POST">
    <input type="hidden" name="id" value="@(ViewBag.Book.ID)" />
    
    @if (ViewBag.Borrow == null)
    {
        <button type="submit" name="button" value="createBorrow">Borrow Book</button>
    }
    else
    {
        <button type="submit" name="button" value="extendDueDate">Extend Due Date</button>
        <button type="submit" name="button" value="returnBook">Return Book</button>
    }

    <button type="submit" name="button" value="deleteBook">Delete Book</button>
</form>
}
else
{
    <p>No book selected.</p>
}
