﻿@{
    ViewData["Title"] = "List";
}

<h1>List of Books</h1>
@if (ViewBag.Books.Count > 0)
{
    <ul>
        @foreach(Book book in ViewBag.Books)
        {
            <li>
                <a href="/Book/Details?id=@(book.ID)">
                    @(book.Title) by @(book.Author.Name)
                </a>
            </li>
        }
    </ul>
}
